@import "azure-devops-ui/Core/_platformCommon.scss";

.settings {
  &--content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      // Reserve space for focus
      padding: 4px 0;
  }

  &--group {
      margin-bottom: 20px;

      &-label {
          display: block;
          padding: 5px 0;
          font-size: $fontSizeML;
          font-weight: $fontWeightSemiBold;
      }
  }

  &--add-button {
    text-align: right;
    float: right;
  }

  &--list-row
  {
    padding: 0px 12px;
  }

}





